{% extends 'base.html.twig' %}

{% block title %}Recherche - Abeille Bouvillonne
{% endblock %}

{% block bootstrap %}{% endblock %}

{% block uniqueCSS %}
	<link rel="stylesheet" href=" {{asset('assets/css/index.css')}}">
{% endblock %}

{% block body %}
	<pre>
    {{ dump(products) }}
</pre>
	<section class="centre">
		<h3 class="centre titre">Votre recherche :
			{{name}}</h3>
		<section class="produits">
			{% for product in products %}
				<section class="shop-card">
					<p class="title">
						{{product.name}}
					</p>
					<p class="desc">
						{{product.description|slice(0,50)}}
					</p>
					<figure>
						<img class="img-produit" src="{{ asset('images/' ~ product.image) }}"/>
					</figure>
					<article class="cta">
						<form action="{{path('index_add_produit_panier', {'id': product.id})}}">
							<p class="price">{{product.prix}}€</p>
							<input type="number" class="quantity" name="quantity">
							<input type="submit" value="Ajouter au panier" class="btn submit">
						</form>
					</article>
				</section>
			{% endfor %}
		</section>
		<a href="{{path('home')}}" class="btn btn-centre">Revenir à l'accueil</a>
	</section>
{% endblock %}
