{% extends 'base.html.twig' %}

{% block title %}Liste des produits - Abeille Bouvillonne
{% endblock %}

{% block body %}
	<h2>Liste des Produits</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Référence</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Stock</th>
				<th>Poids</th>
				<th>Origine</th>
				<th>Mise en pot</th>
				<th>Couleur</th>
				<th>Taille</th>
				<th>Dlc</th>
				<th>S/C</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.reference }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.prix }}</td>
					<td>{{ product.stock }}</td>
					<td>{{ product.poids }}</td>
					<td>{{ product.origine }}</td>
					<td>{{ product.miseEnPot ? product.miseEnPot|date('d-m-Y') : '' }}</td>
					<td>{{ product.color }}</td>
					<td>{{ product.taille }}</td>
					<td>{{ product.dlc ? product.dlc|date('d-m-Y') : '' }}</td>
					<td>{{ product.onOrder ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('products_show', {'id': product.id}) }}">
							<i class="fas fa-eye"></i>
						</a>
						<a href="{{ path('products_edit', {'id': product.id}) }}">
							<i class="fas fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="16">Pas d'enregistrement trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('products_new') }}" class="btn">Créer nouveau</a>
{% endblock %}
