{% extends 'base.html.twig' %}

{% block title %}Paragraphe - Abeille Bouvillonne
{% endblock %}

{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Titre</th>
				<td>{{ presentation.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ presentation.description }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_presentation_index') }}" class="btn">Revenir à la liste</a>

	<a href="{{ path('app_presentation_edit', {'id': presentation.id}) }}" class="btn">Modifier</a>

	{{ include('presentation/_delete_form.html.twig') }}
{% endblock %}
